md-3 {
  
  
  display: flex;
  justify-content: space-around;
  
  
  
}

.logo {
  margin-top: 5px;
  width: 150px;
  height: 30px;
}

.userMain{
  display: flex;
  justify-content: space-evenly;


}

.userImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  margin-left: 10px;
  
}
.userPic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 40px red;

}

.newEntry {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
